<!-- Update department modal -->
<div
  class="modal fade"
  id="updateDepartmentModal"
  role="dialog"
  aria-labelledby="updateDepartmentModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateDepartmentModalLabel">
          Update Department
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form to add a new department -->
        @if (selectedDepartment) {
        <form (submit)="update()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="updateName"
              name="updateName"
              required
              [(ngModel)]="selectedDepartment.name"
            />
          </div>
          <div class="mb-3">
            <label for="head" class="form-label">Head</label>
            <input
              type="text"
              class="form-control"
              id="updateHead"
              name="updateHead"
              required
              [(ngModel)]="selectedDepartment.head"
            />
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="updateLocation"
              name="updateLocation"
              required
              [(ngModel)]="selectedDepartment.location"
            />
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Update
          </button>
        </form>
        }
      </div>
    </div>
  </div>
</div>
