<!-- Update student modal -->
<div
  class="modal fade"
  id="updateStudentModal"
  role="dialog"
  aria-labelledby="updateStudentModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateStudentModalLabel">Update Student</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form to add a new student -->
        @if (selectedStudent) {
        <form (submit)="update()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="updateName"
              name="updateName"
              required
              [(ngModel)]="selectedStudent.name"
            />
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input
              type="number"
              class="form-control"
              id="updateAge"
              name="updateAge"
              required
              [(ngModel)]="selectedStudent.age"
            />
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input
              type="text"
              class="form-control"
              id="updateDepartment"
              name="updateDepartment"
              required
              [(ngModel)]="selectedStudent.department"
            />
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Update
          </button>
        </form>
        }
      </div>
    </div>
  </div>
</div>
